root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = tab

# trim trailing whitespace breaks markdown in vscode
[*.{diff,md}]
trim_trailing_whitespace = false

# use spaces in yml files
[*.{yml,yaml}]
indent_style = space
indent_size = 2
