:root {
	background: $color-secondary-dark;
	color: $color-text-dark;
	@media (prefers-color-scheme: light) {
		background: $color-secondary-light;
		color: $color-text-light;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
		"Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
		"Helvetica Neue", sans-serif;
	overflow-x: hidden;
	font-size: 1.15rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}

a {
	text-decoration: none;
	color: inherit;
	transition: opacity 0.2s ease;
}
a:hover {
	transition: opacity 0.2s ease;
	opacity: 0.5;
	text-decoration-color: inherit;
}

ul {
	margin: 0;
	list-style-position: outside;
	list-style-image: none;
}
ol {
	margin: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 0;
	list-style-position: outside;
	list-style-image: none;
}

img {
	max-width: 100%;
}

li {
	> ol {
		margin-left: 1.45rem;
		margin-bottom: calc(1.45rem / 2);
		margin-top: calc(1.45rem / 2);
	}

	> ul {
		margin-left: 1.45rem;
		margin-bottom: calc(1.45rem / 2);
		margin-top: calc(1.45rem / 2);
	}
}

strong {
	font-weight: bold;
}

// TODO: The following selectors haven't been migrated yet

img,
figure,
table,
fieldset {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}
table {
	line-height: 1.45rem;
	border-collapse: collapse;
	width: 100%;
}

strong {
	font-weight: bold;
}

ol,
ul {
	margin-bottom: 1em;

	li {
		padding-left: 0;
	}
}

li *:last-child {
	margin-bottom: 0;
}
li > p {
	margin-bottom: calc(1.45rem / 2);
}

@media (prefers-color-scheme: dark) {
	html {
		scrollbar-color: #dbd7db #161618 !important;
	}

	article a[href^="http"]::after,
article a[href^="https://"]::after
	{
		filter: invert(100%);
	}
}

article p a[href^="http"]::after,
article p a[href^="https://"]::after
{
	content: "";
	width: 11px;
	height: 11px;
	margin-left: 4px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}
