body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
		"Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
		"Helvetica Neue", sans-serif;
	overflow-x: hidden;
	font-size: 1.15rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}

a {
	color: inherit;
	transition: opacity 0.2s ease;
}

a:hover {
	transition: opacity 0.2s ease;
	opacity: 0.5;
	text-decoration-color: inherit;
}

ul {
	margin: 0;
	list-style-position: outside;
	list-style-image: none;
}
ol {
	margin: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 0;
	list-style-position: outside;
	list-style-image: none;
}

img {
	max-width: 100%;
}

p code {
	padding: 0.2em 0.35em;
	white-space: pre;
}

li {
	> ol {
		margin-left: 1.45rem;
		margin-bottom: calc(1.45rem / 2);
		margin-top: calc(1.45rem / 2);
	}

	> ul {
		margin-left: 1.45rem;
		margin-bottom: calc(1.45rem / 2);
		margin-top: calc(1.45rem / 2);
	}
}

strong {
	font-weight: bold;
}

// TODO: The following selectors haven't been migrated yet

img,
figure,
table,
fieldset {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
table {
	line-height: 1.45rem;
	border-collapse: collapse;
	width: 100%;
}

strong {
	font-weight: bold;
}

ol,
ul {
	margin-bottom: 1em;

	li {
		padding-left: 0;
	}
}

li *:last-child {
	margin-bottom: 0;
}
li > p {
	margin-bottom: calc(1.45rem / 2);
}

@media (prefers-color-scheme: dark) {
	html {
		scrollbar-color: #dbd7db #161618 !important;
	}

	article a[href^="http"]::after,
article a[href^="https://"]::after
	{
		filter: invert(100%);
	}
}
