@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
}
/* ---- particles.js container ---- */
.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #8e2de2, #4a00e0);
  background-position: 50% 50%;
}
