@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 10vh 20vh 20vh 20vh 30vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-header {
  grid-row: 2;
  grid-column: 1 / 5;
}

.headline {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 6em;
  color: white;
  position: relative;
  transition: 0.5s;
}

#subheadline {
  text-align: center;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  color: white;
  transition: 1s;
}

.description {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 150%;
  transition: 1s;
}

.logo {
  height: 60px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  grid-row: 4 / 5;
}

.github {
  animation-delay: 0.3s;
  grid-column: 2;
}

.stackoverflow {
  animation-delay: 0.6s;
  grid-column: 3;
}
canvas {
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
}
/* ---- particles.js container ---- */
.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0117a8;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
