.footer {
    border-top: 1px solid var(--border);
    padding-bottom: 0px;
    text-align: center;

    &__content {
        text-align: left;
        margin-bottom: 3rem;
    }

    section {
        min-width: 250px;
        border-bottom: none;
    }

    a {
        text-decoration: underline;
    }
}
