nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    & > a {
        opacity: 1 !important;
    }
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
        li {
            padding: 24px;
        }
    }

    &__container {
        padding: 24px;

        &__logo {
            margin: 0;
            color: $color-text-dark;
            font-weight: 400;
            font-size: 24px;

            @media (prefers-color-scheme: light) {
                color: $color-primary-light;
            }
        }
    }
}

.underlined {
    position: relative;
    display: block;
    opacity: 1 !important;
    &::after {
        content: "";
        height: 2px;
        transform: scaleX(0);
        transition: transform 0.25s ease;
        transform-origin: left;
        left: 0;
        bottom: -4px;
        width: 100%;
        position: absolute;
        background: white;
        border-radius: 1px;
    }

    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}

@media (min-width: 768px) {
    .header {
        left: 0;
        top: 0;

        &__logo {
            border-bottom: none;
        }
    }
    .nav {
        height: 100%;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
}
