nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
        li {
            padding: 24px;
        }
    }

    &__logo {
        margin: 0;
        color: $color-text-dark;
        padding: 24px;
        font-weight: 400;
        font-family: 'Roboto Mono', Courier, monospace;
        font-size: 24px;
        display: flex;
        border-bottom: 1px solid;

        @media (prefers-color-scheme: light) {
            color: $color-primary-light;
        }
        &__cursor {
            display: inline-block;
            margin-left: 8px;
            height: 100%;
            width: 2px;
            background: $color-primary-dark;

            @media (prefers-color-scheme: light) {
                background: $color-primary-light;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        left: 0;
        top: 0;
        
        &__logo {
            border-bottom: none;
        }
    }
    .nav {
        height: 100%;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
}
