code,
pre,
pre span,
kbd,
samp {
	font-family: var(--mono-font);
	color: var(--code);
}

kbd {
	color: var(--preformatted);
	border: 1px solid var(--preformatted);
	border-bottom: 3px solid var(--preformatted);
	border-radius: 5px;
	padding: 0.1rem 0.4rem;
}

pre {
	padding: 1rem 1.4rem;
	max-width: 100%;
	overflow: auto;
	color: var(--preformatted);
}

pre code {
	color: var(--preformatted);
	background: none;
	margin: 0;
	padding: 0;
}

p code {
	padding: 0.2em 0.35em;
	white-space: pre;
}
