.nav-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.nav-item {
  list-style-type: none;
  margin: 2em;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  color: white;
  transition-duration: 200ms;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}
