<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>
            garrit.xyz
        </title>
        <link>
            https://garrit.xyz
        </link>
        <description>
            Garrit Franke
        </description>
        <language>
            en
        </language>
        <lastBuildDate>
            Sat, 06 Jan 2024 00:00:00 +0000
        </lastBuildDate>
        <item>
            <title>
                A better publishing workflow for static blogs
            </title>
            <guid>
                https://garrit.xyz/posts/2024-01-06-a-better-publishing-workflow-for-static-blogs
            </guid>
            <link>
                https://garrit.xyz/posts/2024-01-06-a-better-publishing-workflow-for-static-blogs?utm_source=rss
            </link>
            <pubDate>
                Sat, 06 Jan 2024 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<p>In my <a href="/posts/2023-12-23-100daystooffload-i-made-it">post</a> celebrating the completion of my <code>#100DaysToOffload</code> challenge, I teased that &quot;I built myself a handy script that turns the contents of a GitHub issue into a pull request, ready to be merged as a blog post&quot;. I didn&#39;t believe this was such a big deal, but a couple of readers actually reached out to me to ask about this.</p>

<p>First, some background. My site is built using a static site generator (not that it matters, but I use <a href="https://nextjs.org/">Next.js</a>). The beauty of using a SSG is that every blog post is literally just a markdown file in <a href="https://github.com/garritfra/garrit.xyz/tree/main/content/posts">a directory</a>. </p>

<h2>The story so far</h2>

<p>Before coming up with an automation, I had to</p>

<ol><li>Copy an older post to a new file</li><li>Rename the file</li><li>Fix the metadata/frontmatter</li><li>Delete the contents of the post</li><li><strong>Write the actual post</strong></li><li>Commit the file</li></ol>

<p>Putting out content on my blog involved quite a bit of friction. I felt like there was a barrier between my thoughts and the blog.</p>

<h2>The solution</h2>

<p>I&#39;ve been looking into how I could solve this issue for quite some time. I even had thoughts to build a custom blogging backend that would commit files to the <a href="https://github.com/garritfra/garrit.xyz">repository</a>, which is of course quite silly.</p>

<p>But then it struck me: GitHub issues fully support markdown! The idea was born:</p>

<ol><li>Open an issue in the repository of this blog</li><li>Write the post</li><li>Kick off an automation that takes the content of the issue and dumps it in a new file</li><li>Create a pull request to generate a preview of the post</li><li>Merge the PR once I&#39;m done reviewing the post</li></ol>

<h2>So, how does the automation work?</h2>

<p>The magic lies in <a href="https://github.com/garritfra/garrit.xyz/blob/main/.github/workflows/publish_via_issue.yaml">this GitHub Action</a>. It is kicked off whenever the <code>action:publish</code> label is added to an issue.</p>

<p>If for some reason this link will not be there anymore in the future, this is the action as of the time of writing:</p>

<p>&lt;details&gt;
&lt;summary&gt;Expand me!&lt;/summary&gt;</p>

<p><code></code>`yaml
on:
  issues:
    types: [labeled]</p>

<p>name: Publish issue as post
jobs:
  publish-issue:
    if: github.event.label.name == &#39;action:publish&#39;
    runs-on: ubuntu-latest
    env:
      POST<em>BODY: &#39;${{ github.event.issue.body }}&#39;
    steps:
      - uses: actions/checkout@v4
      - name: Create commits
        run: |
          export POST</em>DATE=$(date +&quot;%Y-%m-%d&quot;)
          export POST<em>TITLE=&quot;${{ github.event.issue.title }}&quot;
          export POST</em>TAGS=$(echo &quot;${{ join(github.event.issue.labels.<em>.name, &#39;, &#39;) }}&quot; | grep -o &#39;tag:[^,]</em>&#39; | cut -d: -f2- | paste -sd &quot; &quot; - | sed &#39;s/ /, /g&#39;)
          export FILE<em>TITLE=$(printf &quot;$POST</em>TITLE&quot; | tr -cs &#39;[:alnum:]&#39; &#39;-&#39; | tr &#39;A-Z&#39; &#39;a-z&#39; | sed &#39;s/--/-/g&#39; | sed &#39;s/^-\|-$//g&#39;)
          export FILE<em>NAME=&quot;$POST</em>DATE-$FILE<em>TITLE.md&quot;
          export FULL</em>PATH=&quot;content/posts/$FILE_NAME&quot;
          git config user.name &#39;Publish Bot&#39;
          git config user.email &#39;publish-bot@github.com&#39;</p>

<pre><code>      cat &lt;&lt; EOF &gt; $FULL_PATH
      ---
      title: &quot;$POST_TITLE&quot;
      date: &quot;$POST_DATE&quot;
      tags: &quot;$POST_TAGS&quot;
      ---

      EOF

      echo &quot;$POST_BODY&quot; &gt;&gt; $FULL_PATH

      git add $FULL_PATH
      git commit -m &quot;Publish $POST_TITLE&quot;

  - name: Create Pull Request
    uses: peter-evans/create-pull-request@v5
    with:
      title: &quot;New Post: ${{ github.event.issue.title }}&quot;
      body: &quot;Closes #${{ github.event.issue.number }}.\n\n This PR has been generated automatically.&quot;
  - uses: actions-ecosystem/action-remove-labels@v1
    with:
      labels: action:publish</code></pre>

<p><code></code>`</p>

<p>&lt;/details&gt;</p>

<p>So, when I&#39;m done writing the post, I simply label the issue as <code>action:publish</code>, and the action turns it into a new file, commits it and ultimately opens a PR for me to review. You can see this in action by looking at <a href="https://github.com/garritfra/garrit.xyz/issues/432">the issue for this post</a>. The action also handles tags for blog posts. You can see that there are a bunch of labels on the issues that correspond to the tags of this post.</p>

<p>One additional benefit of using a static site generator is that I can generate a preview site for each pull request. So, once I&#39;m done writing and the pull request is generated, I can just wait for Netlify to build the preview to read the blog post as if it is published to the site! This is very helpful for spotting typos or formatting issues, especially if I&#39;m writing a post on my phone.</p>

<h2>Further improvements</h2>

<p>There are two things the current setup is lacking:</p>

<p>Firstly, GitHub doesn&#39;t really highlight typos when writing an issue. I&#39;m sure there are ways to address this post-publish, I just didn&#39;t get around to doing that yet.</p>

<p>Secondly, there&#39;s no sustainable way to add images to the repository this way. I have an <a href="https://github.com/garritfra/garrit.xyz/tree/main/public/assets">assets directory</a> where I put all my images for blog posts. You can paste images directly into the issue, which is really handy, but that generates a permalink on a GitHub CDN, somewhere that I don&#39;t control. For the future, it would be nice to teach the GH action to take these images and dump them into the asset directory.</p>

<h2>Conclusion</h2>

<p>Using this workflow, I can pump out ideas whenever and whereever I feel like it. It drastically reduced the time from idea to written article, which helps me organize my thoughts a lot better. I also frequently create drafts for things I want to write about but is not fully fleshed out yet.</p>]]>
            </description>
        </item>
        <item>
            <title>
                re: Giving context to a blogroll
            </title>
            <guid>
                https://garrit.xyz/posts/2023-12-20-giving-my-blogroll-more-context
            </guid>
            <link>
                https://garrit.xyz/posts/2023-12-20-giving-my-blogroll-more-context?utm_source=rss
            </link>
            <pubDate>
                Wed, 20 Dec 2023 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<blockquote><p>This is a reply to Simone Silvestroni&#39;s <a href="https://minutestomidnight.co.uk/blog/giving-context-to-a-blogroll/">blog post</a> about blogrolls, which itself is a reply to a <a href="https://garrit.xyz/posts/2023-12-12-roast-my-site">call for feedback</a> for my site.</p></blockquote>

<p>Simone argues that Blogroll entries without an explaination are just random links with a name. The reader doesn&#39;t know what&#39;s behind those links and therefore doesn&#39;t benefit from the blogroll. It would be better to give some context to the entries by explaining why they are on this list.</p>

<p>I absolutely support this idea. In response, I added context to all of my <a href="/blogroll">Blogroll</a> entries. I hope this helps you discover more awesome content on the web. Also, if you know a website that might fit on this list (maybe your own?), feel free to <a href="/contact">let me know</a>. I&#39;d be happy to read it!</p>

<hr/>

<p>This is post 097 of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
        <item>
            <title>
                Roast my Site!
            </title>
            <guid>
                https://garrit.xyz/posts/2023-12-12-roast-my-site
            </guid>
            <link>
                https://garrit.xyz/posts/2023-12-12-roast-my-site?utm_source=rss
            </link>
            <pubDate>
                Tue, 12 Dec 2023 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<p>Let&#39;s try something: <code>#RoastMySite</code>!</p>

<p>I want to hear your honest feedback about my website. (Not so) constructive criticism, funny bug reports and savage burns. 🔥</p>

<p><a href="/contact">Shoot me a mail</a> with your roast and I&#39;ll include it on this site!</p>

<p>Got your own site? I&#39;ll roast it! Just ping me via mail or <a href="https://fosstodon.org/@garritfra">on Mastodon</a>.</p>

<hr/>

<p>This is post 093 of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
        <item>
            <title>
                re: Writing code for both computers and humans
            </title>
            <guid>
                https://garrit.xyz/posts/2023-11-20-re--writing-code-for-both-computers-and-humans
            </guid>
            <link>
                https://garrit.xyz/posts/2023-11-20-re--writing-code-for-both-computers-and-humans?utm_source=rss
            </link>
            <pubDate>
                Mon, 20 Nov 2023 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<blockquote><p>This is a reply to Tony Mottaz&#39; <a href="https://www.tonymottaz.com/code-for-computers-and-humans/">blog post</a> about code that&#39;s easy to understand for humans.</p></blockquote>

<p>The understandability of a piece of code can be measured by how much time one needs to grasp its behavior. Less cognitive load usually means easier, and therefore faster, to understand.</p>

<p>Tony argues that the verbose version of the code (<code>isNaN(defaultValue) ? NaN : defaultValue;</code>) is better than the optimized version (<code>defaultValue;</code>) because it proves that the author has thought of the possible sideeffect.</p>

<p>However, I personally think this is in fact bad code. Although the code is <strong>trying</strong> to make obvious what it&#39;s doing, Tony had to pause and think about why it&#39;s written this way. This probably interrupted their flow of work, which is highly undesired. A short comment should have the same effect while keeping the reader in their flow. This is a perfect example for the &quot;<a href="https://www.jackfranklin.co.uk/blog/code-comments-why-not-how/">comment the why, now the how</a>&quot; mantra.</p>

<p>I really enjoyed Tony&#39;s post. It does a great job emphasizing that we should be curious about the code we read and write.</p>

<hr/>

<p>This is post 086 of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
        <item>
            <title>
                Single Page Applications on GitHub Pages
            </title>
            <guid>
                https://garrit.xyz/posts/2023-06-01-single-page-applications-on-github-pages
            </guid>
            <link>
                https://garrit.xyz/posts/2023-06-01-single-page-applications-on-github-pages?utm_source=rss
            </link>
            <pubDate>
                Thu, 01 Jun 2023 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<p>My latest project, <a href="https://sendpasswords.net/">sendpasswords.net</a> is a <a href="https://developer.mozilla.org/en-US/docs/Glossary/SPA">Single Page Application</a> deployed on GitHub Pages.</p>

<p>GitHub Pages is configured in a way to host static HTML files without any bells and whistles. This means that if you try to fetch a document that&#39;s <em>not</em> the index, for example <code>/foo</code>, the server will try to load the file with that name. </p>

<p>By nature, SPAs only consist of a single HTML entry point (<code>index.html</code> in most cases). It&#39;s responsible for routing the user to the correct page if there are multiple paths. And here&#39;s the crux: if the user tries to load <code>/foo</code>, he will not land at the SPA entry point. Instead, he will see a <code>404</code> error.</p>

<h2>The solution</h2>

<p>A <code>404</code> response will automatically return a file called <code>404.html</code>, which we can use to our advantage. After building the application, simply copy the <code>index.html</code> to <code>404.html</code>, as demonstrated by <a href="https://github.com/garritfra/sendpasswords.net/commit/66bdb68c229a3ac3386f7816a746155e658eb586">this commit</a>. This will use <code>index.html</code> to serve the application on the root level, and <code>404.html</code> to load <em>the same app</em> if the page doesn&#39;t exist as a file. Whether the <code>index.html</code> is needed if there&#39;s already a <code>404.html</code> is up to you. I left it in to make clear that this is just a workaround.</p>

<p>This is a <a href="https://stackoverflow.com/a/69308662/9046809">well known</a> workaround, but I wanted to bring some extra awareness to it, since it&#39;s a problem I ran into a couple of times so far. Happy SPAing!</p>

<hr/>

<p>This is post 069 (nice) of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
        <item>
            <title>
                Instant dark theme
            </title>
            <guid>
                https://garrit.xyz/posts/2023-04-12-instant-dark-theme
            </guid>
            <link>
                https://garrit.xyz/posts/2023-04-12-instant-dark-theme?utm_source=rss
            </link>
            <pubDate>
                Wed, 12 Apr 2023 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<p>Thanks to <a href="https://jacksonchen666.com/">Jacksons</a> <a href="https://github.com/garritfra/darktheme.club/pull/79">update to darktheme.club</a>, I just came across a neat little <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme">CSS property</a> that turns a mostly CSS-free document into a pleasantly dark site:</p>

<p><code>css
:root {
  color-scheme: light dark;
}
</code></p>

<p>This will adjust all elements on the page to the color scheme preferred by the user - without any other custom styles! 🤯 It is also <a href="https://caniuse.com/mdn-css_properties_color-scheme">widely supported</a> by browsers.</p>

<p>I&#39;ve always been quite dependent on CSS-frameworks for any project I&#39;m starting. Going forward, I&#39;d be interested to see how framework-less sites would feel using this property. If all else fails, there&#39;s always the awesome <a href="https://simplecss.org/">simple.css</a> library, which you can slap on top of a raw document to make it pretty (and dark, if preferred) without using custom classes.</p>

<hr/>

<p>This is post 064 of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
        <item>
            <title>
                Dockerignore troubles
            </title>
            <guid>
                https://garrit.xyz/posts/2023-02-22-dockerignore-troubles
            </guid>
            <link>
                https://garrit.xyz/posts/2023-02-22-dockerignore-troubles?utm_source=rss
            </link>
            <pubDate>
                Wed, 22 Feb 2023 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<p>I commonly used to create a <code>.Dockerignore</code> file next to my <code>Dockerfile</code>. After countless hours of ignoring the problems in my setup, I found out that the uppercase <code>.Dockerignore</code> doesn&#39;t get picked up by Docker on MacOS. Only the lowercase <code>.dockerignore</code> is valid.</p>

<p>I didn&#39;t find official documentation on this, but I think it&#39;s because both MacOS and Linux are case-sensitive, while Windows isn&#39;t. I don&#39;t remember why I got used to the <code>.Dockerignore</code> convention, but I swear I saw someone using it in the wild. Or it&#39;s my (un)logical reasoning that, because <code>Dockerfile</code> is uppercased, <code>.Dockerignore</code> should be uppercased as well.</p>

<p>Either way, stay away from <code>.Dockerfile</code>s and stick to <code>.dockerfile</code>s.</p>

<p>This is post 050 of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
        <item>
            <title>
                TIL about CSS Insets
            </title>
            <guid>
                https://garrit.xyz/posts/2023-02-19-til-about-css-insets
            </guid>
            <link>
                https://garrit.xyz/posts/2023-02-19-til-about-css-insets?utm_source=rss
            </link>
            <pubDate>
                Sun, 19 Feb 2023 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<p>Just a quick tip that I thought is worth sharing. Instead of declaring:</p>

<p><code>css
.foo { 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
</code></p>

<p>you can just use:</p>

<p><code>css
.foo {
  inset: 0;
}
</code></p>

<p>It&#39;s supported everywhere computers are sold!</p>

<p>MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/inset</p>

<p>Source: https://front-end.social/@estelle/109878532782943511</p>

<p>This is post 047 of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
        <item>
            <title>
                Cursed User-Agents
            </title>
            <guid>
                https://garrit.xyz/posts/2022-11-11-cursed-user-agents
            </guid>
            <link>
                https://garrit.xyz/posts/2022-11-11-cursed-user-agents?utm_source=rss
            </link>
            <pubDate>
                Fri, 11 Nov 2022 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<blockquote><p><strong>Warning</strong>: This is a rather ranty post. I just needed a place to dump my emotions about this topic. Please take it with a grain of salt. :)</p></blockquote>

<p>I&#39;m currently <a href="https://github.com/garritfra/ua-parser-js/pull/8">fiddling
around</a> with User-Agents of
Smart TVs, or more specifically <a href="https://www.hbbtv.org/">HbbTV</a>. Interpreting
them is an absolute nightmare, so let me rant about interesting edge-cases I
discovered along the way.</p>

<p>To set the mood: User-Agents in this field have a standardized format, yet many
vendors seem to do their own thing, making it impossible to build one parser to
rule them all. For reference, here&#39;s what the HbbTV section in a user agent
SHOULD look like:</p>

<p><code>
HbbTV/&lt;version&gt; (&lt;capabilities&gt;; &lt;vendorName&gt;; &lt;modelName&gt;; &lt;softwareVersion&gt;; [&lt;hardwareVersion&gt;]; &lt;familyName&gt;; &lt;reserved&gt;)
</code></p>

<h2>The &quot;we&#39;ll update that later&quot;</h2>

<p><code>
HbbTV/1.1.1 (; Loewe; MB180; 1.0; 1.0;) NetFront/4.1
</code></p>

<p>1.0 for both software and hardware versions suspiciously looks like a working
title. At least we get some information about the vendor and the model.</p>

<h2>The Overcommitted</h2>

<p><code>
Mozilla/5.0 (Linux armv7l) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36 OPR/40.0.2207.0 OMI/4.9.0.237.DOM3-OPT.245 Model/Vestel-MB211 VSTVB MB200 HbbTV/1.2.1 (; JVC; MB211; 3.19.4.2; _TV_NT72563_2017 SmartTvA/3.0.0
</code></p>

<p>It&#39;s nice that we get a lot of information about the device, yet no one seemed
to check if the string actually fits into storage.</p>

<h2>The Lazy Boy</h2>

<p><code>
HbbTV/1.1.1 (;;;;;) Maple;2011
</code></p>

<p>To be fair, this is one of the earliest HbbTV devices ever. No one knew that
this technology would stand the test of time. Apparently not even Samsung.</p>

<h2>Conclusion</h2>

<p>I learned that building a generic parser for user agents isn&#39;t easy, especially
if the devices you work with could be over a decade old.</p>

<p>One thing that all devices do seem to get right though is the presence of the
HbbTV section in the User-Agent. I did not encounter a single device without it.</p>

<p>This is post 042 of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
        <item>
            <title>
                Fixing Traefik Proxy Issues
            </title>
            <guid>
                https://garrit.xyz/posts/2022-03-18-fix-traefik-proxy-issues
            </guid>
            <link>
                https://garrit.xyz/posts/2022-03-18-fix-traefik-proxy-issues?utm_source=rss
            </link>
            <pubDate>
                Fri, 18 Mar 2022 00:00:00 +0000
            </pubDate>
            <description>
                <![CDATA[<p>After changing my proxy from NGINX to Traefik, I noticed that some of my
services started misbehaving.</p>

<p>In particular, my instance of
<a href="https://github.com/NicolasConstant/BirdsiteLive">BirdsiteLive</a>
(<a href="https://birdsite.slashdev.space">birdsite.slashdev.space</a>) had issues
forwarding tweets to the
<a href="https://garrit.xyz/posts/2021-01-18-reasons-the-fediverse-is-better">Fediverse</a>.</p>

<p>The only difference between my old NGINX and my Traefik config were the headers.
I didn&#39;t think that that&#39;s what&#39;s causing the issue, but after digging around a
bit I figured out what&#39;s wrong. I still can&#39;t wrap my head around it entirely,
but it has something to do with forwarding external <code>https</code> requests to internal
<code>http</code> services, since the <code>x-forwarded-</code> headers where missing in the forwarded
requests.</p>

<p>In the world of NGINX, we can instruct the proxy to forward <em>all</em> headers using
this directive:</p>

<p><code>conf
proxy_pass_request_headers      on;
</code></p>

<p>which takes care of the issue. In Traefik, it&#39;s a bit more convoluted. Traefik
can use a combination of &quot;Entrypoints&quot; and middleware to route traffic around.
In my setup, I use a <code>webSecure</code> entrypoint listening for SSL/TLS traffic, and a
<code>web</code> entrypoint that just redirects to <code>webSecure</code>:</p>

<p><code></code>`yaml
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: &quot;websecure&quot;
          scheme: &quot;https&quot;</p>

<p>  websecure:
    address: :443
<code></code>`</p>

<p>Apparently, some services send requests to the <code>web</code> entrypoint, and the
<code>x-forwarded-for</code> headers are dropped. To prevent this, you can set the
<code>proxyProtocol</code> and <code>forwardedHeaders</code> in the <code>web</code> entrypoint to <code>insecure</code>,
like so:</p>

<p><code></code>`yaml
entryPoints:
  web:
    address: :80
    proxyProtocol:
      insecure: true
    forwardedHeaders:
      insecure: true
    # ...</p>

<h1>...</h1>

<p><code></code>`</p>

<p>I&#39;m sure there&#39;s a reason why this is marked as <code>insecure</code>, but it behaves just
like the NGINX counterpart, so I didn&#39;t bother digging deeper into the matter.
Maybe one day I&#39;ll come back to properly fix this.</p>

<p>If you want to read more, check out
<a href="https://medium.com/@_jonas/traefik-kubernetes-ingress-and-x-forwarded-headers-82194d319b0e">this</a>
article on Medium. It explains the issue in more detail.</p>

<hr/>

<p>This is post 025 of <a href="https://100daystooffload.com/">#100DaysToOffload</a>.</p>]]>
            </description>
        </item>
    </channel>
</rss>