@import url("https://fonts.googleapis.com/css?family=Roboto");
.card {
  position: relative;
  width: 10em;
  height: 10em;
  height: fit-content;
  align-content: center;
  background: linear-gradient(180deg, #56ccf2 0%, #00fff0 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  height: auto;
}

.text {
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

/* image */
.skill-logo {
  margin: 1em;
  height: 50px;
  max-width: 80px;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.star-container {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
}

/* Star */
.star {
  margin: 3%;
  background: #f2c94c;
  width: 10px;
  height: 10px;
}
