.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 10%;
}
.headline {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 6em;
  color: white;
  position: relative;
  transition: 0.5s;
}

#subheadline {
  text-align: center;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  color: white;
  transition: 1s;
}

.description {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 150%;
  transition: 1s;
}
