@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
.App {
  text-align: center;
}

.Railway{
  font-family: 'Raleway', sans-serif;
}

.BlogEntry {
  margin: 2em;
  text-align: left;
  
}


