on:
  push:
    branches:
      - main
    paths:
      - "lib/jurassic/**/*"

name: Build Docker images
jobs:
  build-jurassic-park-image:
    runs-on: "ubuntu-22.04"
    steps:
      - uses: actions/checkout@v6
      - uses: elgohr/Publish-Docker-Github-Action@v5
        name: Build & push Docker image
        with:
          tags: latest, ${{ github.ref_name }}, ${{ github.sha }}
          name: garritfra/garrit.xyz/jurassic
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          workdir: lib/jurassic
